/*Custom Style*/

h1 {
  color: white;
  padding: 20px;
}

h2 {
  padding: 20px;
}

h3 {
  padding: 10px;
}

p {
  padding-left: 10px;
}

.quick-search {
  border: none;
}

.quick-search-item,
.list-group-item {
  background-color: gray;
  color: white;
  padding: 0;
  text-align: center;
  margin: 10px;
  width: 100%;
}

.card {
  width: 100%;
}

.fiveDay {
  margin: 15px;
  border: solid black;
  font-family: Arial, Helvetica, sans-serif;
}
